---
layout: layout.njk
---
<h1 class='title-line'>
	{% comment %}<span class='greeting'>Hello there,</span>{% endcomment %}
	I'm Zachary Rollyson—<a href='https://github.com/zjr'>engineer</a>,
	<em>designer</em>, and
	<a href='https://www.etsy.com/shop/InkAgainPens'>vintage pen restorer</a>.
</h1>
<p class='work-ode'>
	<span>I never break prod.</span>
	<span>I am self-led, fully aligned, and floss twice daily.</span>
	<span>Passionate and honest, I command English strongly.</span>
	<span
		>I type softly and have a natural flair for supporting business needs.</span
	>
	<span>My tests never fail, but when they do I enjoy it.</span>
	<span>I like tabs or spaces, at every size.</span>
</p>

<p class='contact'>
	You can find me on
	<a href='mailto:me@zjr.io?subject=I%20found%20you.'>email</a>,
	<a href='https://github.com/zjr'>GitHub</a>, and
	<a href='https://www.linkedin.com/in/zjrollyson/'>LinkedIn</a>.
</p>
{% comment %}<p class='contact'>{% endcomment %}
{% comment %}You might also have an interest in the work of my wife—author, illustrator and{% endcomment %}
{% comment %}engineer{% endcomment %}
{% comment %}<a href='https://amandavacharat.com'>Amanda Vacharat</a>.{% endcomment %}
{% comment %}</p>{% endcomment %}
